$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$color-error: #D32F2F;
$color-focus: #2962FF;

* {
  font-family: Noto Sans JP, sans-serif;
  &:focus {
    outline: none;
  }
}

.input {
  &:focus-within {
    .label {
      color: $color-focus;
    }

    .input-container {
      border-color: $color-focus;
    }
  }

  &:hover {
    cursor: text;
  }

  &:hover:not(:focus-within) {
    .input-container {
      border-color: $gray-1;
    }
  }

  .label {
    color: $gray-1;
    display: block;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 4px;
  }

  .input-container {
    border: 1px solid $gray-3;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 18px 12px;

    input {
      ::placeholder {
        color: $gray-3;
      }

      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
