$gray-1: #333333;
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #9E9E9E;
$gray-5: #E0E0E0;
$gray-6: #F2F2F2;
$color-error: #D32F2F;
$color-focus: #2962FF;

* {
  font-family: Noto Sans JP, sans-serif;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
}

.input {
  margin: 1rem 0;
  width: 200px;

  &:hover:not(:focus-within):not(.disabled) {
    .input-container {
      border-color: $gray-1;
    }
  }
  
  .label {
    color: $gray-1;
    display: block;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 4px;
  }
  
  .input-container {
    border: 1px solid $gray-3;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 56px;

    padding: 18px;
    
    input, textarea {
      resize: none;
      // TODO: remove
      background-color: transparent;
      color: $gray-1;
      min-width: 0;

      ::placeholder {
        color: $gray-3;
      }
      
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
      padding: 0;
    }

    .material-icons {
      color: $gray-3;
      font-size: 18px;

      &.start {
        margin-right: 15px;
      }

      &.end {
        margin-left: 15px;
      }
    }
  }

  .helper {
    color: $gray-3;
    display: block;
    font-size: 10px;
    line-height: 14px;
    margin-top: 4px;
  }

  &.sm {
    .input-container {
      height: 40px;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.multiline .input-container {
    height: auto;
  }

  &:focus-within {
    .label {
      color: $color-focus;
    }
    
    .input-container {
      border-color: $color-focus;
    }
  }

  &.error, &.error:focus-within {
    .input-container {
      border-color: $color-error;
    }
  }
  
  &.error {
    .label, .helper {
      color: $color-error;
    }
  }

  &:hover:not(:focus-within) {
    .label {
      color: $gray-1;
    }
  }
  
  &:hover:not(.disabled) {
    cursor: text;
  }

  &.disabled {
    .input-container {
    background: $gray-6;
    border-color: $gray-5;
    }
  }
}

body {
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 768px) {
  body {
    padding: 16px;
  }
}

.title {
  color: $gray-2;
  font-family: Poppins;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  margin-top: 30px;
  margin-bottom: 65px;
}

.section {
  display: block;
  margin-top: 42px;

  .section-title {
    font-family: "Ubuntu Mono", monospace;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 12px;
    color: $gray-1;
  }
}

.multi-section {
  display: flex;
  flex-wrap: wrap;

  .section {
    min-width: 356px;
  }
}

#username {
  color: $gray-4;
  display: block;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 22px;
  margin-top: 22px;

  strong {
    font-weight: 700;
  }
}